@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: black;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
}

.wrapper {
  height: calc(101% - theme("spacing.24"));
  width: 100%;
}
.bottom-wrapper {
  height: 90px;
  width: 99%;
}
.content-cont {
  height: 595px;
}

.addicon {
  font-size: 26px;
}

.active {
  transform: translateX(-43%);
}

.icon {
  color: white;
}

.playlist-height {
  height: 365px;
}
